/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Cabin:wght@400;500;600;700&display=swap');

/* MAIN */

body {
  font-family: 'Cabin', arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #E9E4F2;
  color: black;
}

strong {
  font-family: 'Cabin', arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

#content {
    min-height: 100vh;
    background: #fff;
    padding: 0;
    display: flex;
}

.row {
    padding: 0;
    margin: 0;
}

.home {
    background-image: radial-gradient(circle at 10px 10px, #AAA 1px, transparent 0);
    background-size: 27px 27px;
}

.body-container {
    padding: 0 0 30px 0;
    margin: 0;
    min-height: calc(100vh - 179px);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .body-image {
        padding: 20px 0 0 0;
    }
    .body-header {
        padding: 0;
        text-align: left;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .body-image {
        padding: 5vw 0 0 0;
    }
    .body-header {
        padding: 3vw 0 0 0;
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .body-image {
        padding: 3vw 0 0 0;
    }
    .body-header {
        padding: 5vw 0 0 0;
        text-align: left;
    }
}

.body-image img {
    width: 80%;
    transform: rotate(1deg);
    margin: 0 auto;
    display: block;
}

.body-about {
    padding: 0;
    text-align: left;
    margin: 0 0 40px 0;
}

.body-interests {
    padding: 0;
    text-align: left;
    margin: 0 0 40px 0;
}

.body-interests p {
    margin: 0;
}

.body-contact {
    padding: 0;
    text-align: left;
    margin: 0 0 20px 0;
}

.body-contact a {
    font-size: 1.5em;
}

.home {
    padding: 30px 25px 30px 25px;
    min-height: 100%;
}

.cv-header {
    padding: 0;
    text-align: left;
}

.cv-header h2{
    margin-bottom: 0;
    font-size: 4em;
}

.cv-category {
    padding: 10px 0 0 0;
    text-align: left;
    margin-top: 25px;
    border-top: 3px solid #000;
}

.cv-category h4{
    margin-bottom: 0;
}

.cv-category-first {
    padding: 10px 0 0 0;
    text-align: left;
    margin-top: 0;
    border-top: 4px solid #000;
}

.cv-category-first h4{
    margin-bottom: 0;
}

.cv-item {
    padding: 0;
    text-align: left;
    margin: 10px 0 0 0;
}

@media (max-width: 576px) {
    .cv-year {
        padding: 0;
        text-align: left;
        margin: 0 0 0 0;
    }
    
    .cv-year h6 {
        font-size: 0.9em;
    }
}

@media (min-width: 576px) {
    .cv-year {
        padding: 0;
        text-align: right;
        margin: 10px 0 0 0;
    }
}

.cv-details {
    padding: 0;
    text-align: left;
    margin: 0 0 7px 0;
    text-indent: -9.5px;
    padding-left: 9.5px;
}

.cv-details p {
    margin: 0;
    font-size: 0.9em;
}

.indent {
    padding: 0 0 0 2em;
}

.hand {
    
    padding: 10px 0 0 0;
}

.hand h3 {
    font-family: 'Cabin Sketch', arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* PORTFOLIO GRID */
.portfolio {
    padding: 15px 5vw 25px 5vw;
    min-height: 100%;
    background-image: radial-gradient(circle at 10px 10px, #AAA 1px, transparent 0);
    background-size: 27px 27px;
}

.portfolio-card {
    padding: 10px;
}

.portfolio-card-body {
    position: relative;
    float: left;
}

.portfolio-card-body .card-art {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    width: 100%;
}

.portfolio-card-body .card-img-hover,
.portfolio-card-body:hover .card-img-hover {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    transition: all 0.2s;
}

.portfolio-card-body .card-img-hover-arrow {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    transition: all 0.2s;
}

.portfolio-card-body:hover .card-img-hover,
.portfolio-card-a[aria-expanded="true"] .card-img-hover,
.portfolio-card-a[aria-expanded="true"] .card-img-hover-arrow {
    opacity: 1;
}

.portfolio-card-body:hover .card-img,
.portfolio-card-a[aria-expanded="true"] .card-img {
    opacity: 0;
    transition: all 0.33s
}

.portfolio-collapse-body {
    min-height: 100vh;
    width: 100vw;
    background: #fff;
    box-shadow: inset 0px 11px 8px -10px #AAA, inset 0px -11px 8px -10px #AAA; 
    transition: all 0s;
    margin: 0 0 10px 0;
}


.portfolio-collapse-body h1,
.portfolio-collapse-body h2,
.portfolio-collapse-body h3,
.portfolio-collapse-body h4 {
    margin: 0 0 20px 0;
}


.portfolio-collapse-body h5 {
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;

}

.portfolio-collapse-body h6 {
    margin: 0;
}

.portfolio-collapse-body p {
    margin: 0 0 15px 0;
}

@media (max-width: 768px) {
    .portfolio-collapse-body {
        padding: 20px;
    }
}

@media (min-width: 768px) {
    .portfolio-collapse-body {
        padding: 30px 5vw 30px 5vw;
    }
}

.portfolio-collapse {
    padding: 0;
    margin: 0 -5vw 0 -5vw;
}

.portfolio-container {
    padding: 0;
    margin: 0;
}

.fig-container {
    text-align: center;
    padding: 20px 0 30px 0;
}

.fig-container-bottom {
    text-align: center;
    padding: 0px 0 30px 0;
}

.fig-container-npd {
    text-align: center;
    padding: 0;
    margin: -20px 0 -5px 0;
}

.fig-div {
    text-align: center;
    padding: 0;
}

.fig-side {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.fig-side-sm {
    width: 60%;
    margin: 0 auto;
    display: block;
}

.fig-side-lg {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.fig-mid {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.fig-mid-sm {
    width: 50%;
    margin: 0 auto;
    display: block;
}

@media (max-width: 768px) {
    .fig-side {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    
    .fig-side-sm {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    
    .fig-side-lg {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    
    .fig-mid {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    
    .fig-mid-sm {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
}


#pgx, #fh {
    font-size: 0.6em;
    width: 100%;
    text-align: left;
}

.portfolio-container span {
    font-size: 0.9em;
    margin: -5px 0 40px 0;
}

.predictiv-thanks {
    padding: 30px 0;
}

.caption-details p {
    margin: 0;
}

.table-div {
    overflow-x: auto;
}

/* OTHER */

/* NAVBAR */

#navbar {
    font-family: 'Cabin', arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin-bottom: 0;
    background: #E9E4F2;
    color: #4E043A;
}

#navbar span {
    padding: 18px 18px 18px 25px;
    display: block;
}

#navbarSupportedContent li, a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;
}

@media (max-width: 576px) {
    #navbarSupportedContent a {
        padding: 18px;
        display: block;
        font-size: 1em;
        text-align: center;
        width: 100%;
        color: #4E043A;
    }
}

@media (min-width: 576px) {
    #navbarSupportedContent a {
        padding: 18px;
        display: block;
        font-size: 1em;
        text-align: center;
        width: 180px;
        color: #4E043A;
    }
}

#navbarSupportedContent a:hover {
    color: #4E043A;
    box-shadow: 0 -6px 0 0 #F7F7F7 inset;
}

#navbarSupportedContent a.active {
    font-family: 'Cabin', arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #4E043A;
    box-shadow: 0 -6px 0 0 #4E043A inset;
}

.navbar-toggler {
    display: block;
    font-size: 1.7em;
    border: 0;
    padding-right: 25px;
    color: #4E043A;
}

.navbar-brand:hover,
.navbar-brand {
    font-size: 1em;
    color: #4E043A;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar:not(.fixed-bottom):not(.navbar-fixed-bottom):not(.navbar-fixed-bottom)+div>.tab-content>.tab-pane {
    --bslib-navbar-margin: 0;
    margin-top: 0;
}
