/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

/* MAIN */

main, p, span, button, a, ul, li {
  font-family: 'Baloo 2', arial, sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo 2', arial, sans-serif  !important;
  font-weight: 450 !important;
  font-style: normal  !important;
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-hover {
  text-decoration-line: none;
}

.no-transition {
  transition: none !important;
}

.no-transition.collapsing {
  transition: none !important;
  display: none;
}

@media (max-width: 992px) {
  .page-padding {
    padding: 0 5vw;
  }
  .page-width {
    padding: 0;
  }
  .resume-year {
    margin-top: 0;
    float: none;
    display: block;
  }
  .resume-text {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .topbar {
    width: calc(100% + 10vw);
    backdrop-filter: blur(6px);
    background-color: #ffffffbb;
    margin: 0 -5vw;
    padding: 0 5vw;
  }
  .content {
    width: 100%;
  }
  .text-hover:hover {
    text-decoration-line: none;
  }
  .d-flex {
    flex-direction: column !important;
  }
}
@media (min-width: 992px) {
  .resume-year {
    margin-top: -1.25em;
    float: right;
    display: inline;
  }
  .resume-text {
    width: 88%;
  }
  .sidebar {
    width: 20%;
  }
  .topbar {
    display: none;
  }
  .content {
    width: 80%;
  }
  .text-hover:hover {
    text-decoration-line: underline;
  }
  .d-flex {
    flex-direction: row !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .page-padding {
    padding: 0 10vw;
  }
  .page-width {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
@media (min-width: 1200px) {
  .page-padding {
    padding: 0 15vw;
  }
  .page-width {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.resume-body {
  line-height: 1.25 !important;
  font-size: .9rem;
}

.indent {
  text-indent: -10px;
}

.portfolio-card {
  transition: all 150ms;
}

.portfolio-card:hover,
.nav-hover:hover {
  background-color: #e9ecef !important;
}

.dropdown-hover:hover {
  color: #888;
  transition: all 100ms;
}

.cursor-pointer {
  cursor: pointer;
}

